/****************************
**** HEADINGS
*****************************/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #fff;
}

.heading-secondary {
  color: #333;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

/****************************
**** TEXT
*****************************/

.description-text {
  text-transform: uppercase;
  line-height: 1.8;
}

/****************************
**** BUTTONS
*****************************/

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: #dc2201;
  color: #fff;
}

.btn--primary:hover {
  background-color: #c61f01;
}

.btn--reverse:link,
.btn--reverse:visited {
  background-color: #fff;
  color: #dc2201;
}

.btn--reverse:hover {
  background-color: #fce9e6;
}

/****************************
**** UTILITIES
*****************************/

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-big {
  margin-bottom: 6.4rem !important;
}
